@import "./fonts.css";
@import "./utilities.css";
@import "tailwindcss";

@theme {
    --font-*: initial;
    --font-sans: Helvetica, Arial, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono:
        ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    --font-popular-bold: popular-bold, sans-serif;
    --font-popular-light: popular-light, sans-serif;
    --font-popular-medium: popular-medium, sans-serif;
    --font-popular-regular: popular-regular, sans-serif;
    --font-graphik-regular: graphik-regular, sans-serif;
    --font-graphik-medium: graphik-medium, sans-serif;
    --font-graphik-italic: graphik-italic, sans-serif;
    --font-graphik-semibold: graphik-semibold, sans-serif;
    --font-graphik-bold: graphik-bold, sans-serif;
    --font-graphik-bold-italic: graphik-bold-italic, sans-serif;
    --font-graphik-condensed-medium: graphik-condensed-medium, sans-serif;
    --font-publico-text-roman: publico-text-roman, sans-serif;
    --font-publico-text-italic: publico-text-italic, sans-serif;
    --font-publico-text-bold: publico-text-bold, sans-serif;
    --font-publico-text-bold-italic: publico-text-bold-italic, sans-serif;
    --font-publico-headline-roman: publico-headline-roman, sans-serif;
    --font-publico-headline-medium: publico-headline-medium, sans-serif;
    --font-publico-headline-italic: publico-headline-italic, sans-serif;
    --font-publico-headline-light: publico-headline-light, serif;
    --font-publico-headline-light-italic:
        publico-headline-light-italic, sans-serif;
    --font-publico-headline-medium: publico-headline-medium, sans-serif;
    --font-publico-headline-condensed-medium:
        publico-headline-condensed-medium, sans-serif;
    --font-publico-headline-condensed-black:
        publico-headline-condensed-black, sans-serif;
    --font-publico-headline-xcondensed-light:
        publico-headline-xcondensed-light, sans-serif;
    --font-publico-banner-light-italic: publico-banner-light-italic, sans-serif;
    --font-publico-banner-light: publico-banner-light, sans-serif;
    --font-publico-banner-condensed-medium:
        publico-banner-condensed-medium, sans-serif;
    --font-publico-banner-condensed-black:
        publico-banner-condensed-black, sans-serif;
    --font-publico-banner-xcondensed-light:
        publico-banner-xcondensed-light, sans-serif;
    --font-publico-banner-black: publico-banner-black, sans-serif;
    --font-publico-headline-black: publico-headline-black, sans-serif;
    --font-graphik-semibold-italic: graphik-semibold-italic, sans-serif;
    --font-publico-headline-black-italic:
        publico-headline-black-italic, sans-serif;
    --font-barlow-italic: barlow-italic, sans-serif;
    --font-barlow-regular: barlow-regular, sans-serif;
    --font-barlow-semibold: barlow-semibold, sans-serif;
    --font-barlow-semibold-italic: barlow-semibold-italic, sans-serif;
    --font-barlow-condensed-medium: barlow-condensed-medium, sans-serif;
    --font-barlow-condensed-semibold: barlow-condensed-semibold, sans-serif;
    --font-roboto: roboto, sans-serif;

    --breakpoint-xs: 320px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1160px;
    --breakpoint-xl: 1440px;

    /* deprecated color tokens */
    --color-none: none;
    --color-transparent: transparent;
    --color-linear-gradient-black: rgba(0, 0, 0, 0.6);
    --color-adhesion-green: rgba(116, 158, 81, 0.4);
    --color-layover-gray: rgba(34, 34, 34, 0.6);
    --color-custom-gray: rgba(34, 34, 34, 0.3);
    --color-article-heading: #222222;

    --color-text-primary: #0d0d0d;
    --color-text-secondary: #434343;
    --color-text-tertiary: #666666;
    --color-text-disabled: #afafaf;
    --color-text-reversed: #ffffff;
    --color-text-color-01: #00854b;
    --color-text-color-02: #05442e;
    --color-text-color-03: #baec31;

    --color-border-subtle-01: #e1e1e1;
    --color-border-subtle-02: #afafaf;
    --color-border-strong-01: #434343;
    --color-border-strong-02: #0d0d0d;
    --color-border-color: #65cc5c;
    --color-border-color-01: #00854b;
    --color-border-color-02: #4dc044;

    --color-surface-primary: #ffffff;
    --color-surface-secondary: #f2f2f2;
    --color-surface-reversed: #0d0d0d;
    --color-surface-color-01: #00854b;
    --color-surface-color-02: #c8fa31;
    --color-surface-panel: #f2f2f2;

    --color-base-black: #000000;
    --color-base-white: #ffffff;

    --color-neutral-50: #f2f2f2;
    --color-neutral-100: #e1e1e1;
    --color-neutral-200: #cfcfcf;
    --color-neutral-300: #afafaf;
    --color-neutral-400: #969696;
    --color-neutral-500: #7e7e7e;
    --color-neutral-600: #666666;
    --color-neutral-700: #434343;
    --color-neutral-800: #282828;
    --color-neutral-900: #0d0d0d;

    --color-red-50: #fbe7e7;
    --color-red-100: #f4bcbc;
    --color-red-200: #ea8b8b;
    --color-red-300: #e36363;
    --color-red-400: #d65353;
    --color-red-500: #cd2e2e;
    --color-red-600: #bb2020;
    --color-red-700: #a01c1c;
    --color-red-800: #851414;
    --color-red-900: #700000;

    --color-orange-50: #fae4d1;
    --color-orange-100: #f8d0b9;
    --color-orange-200: #f6ba98;
    --color-orange-300: #f3a87c;
    --color-orange-400: #f19865;
    --color-orange-500: #ec8244;
    --color-orange-600: #dd7031;
    --color-orange-700: #b95d27;
    --color-orange-800: #944314;
    --color-orange-900: #673112;

    --color-yellow-50: #fff9d1;
    --color-yellow-100: #fff2a3;
    --color-yellow-200: #ffec74;
    --color-yellow-300: #fae24b;
    --color-yellow-400: #f3d620;
    --color-yellow-500: #dec737;
    --color-yellow-600: #c6b12e;
    --color-yellow-700: #ac9928;
    --color-yellow-800: #837520;
    --color-yellow-900: #4e4613;

    --color-lime-50: #f1fecc;
    --color-lime-100: #e4fd98;
    --color-lime-200: #d6fb65;
    --color-lime-300: #c8fa31;
    --color-lime-400: #b6e32b;
    --color-lime-500: #a4cf26;
    --color-lime-600: #8fb323;
    --color-lime-700: #7a991e;
    --color-lime-800: #647d19;
    --color-lime-900: #3c4b0f;

    --color-spring-50: #dcf7d9;
    --color-spring-100: #b7efb3;
    --color-spring-200: #9fe798;
    --color-spring-300: #76d86e;
    --color-spring-400: #65cc5c;
    --color-spring-500: #4dc044;
    --color-spring-600: #40a937;
    --color-spring-700: #3a8f32;
    --color-spring-800: #2e6c28;
    --color-spring-900: #22441f;

    --color-emerald-50: #e5f7ef;
    --color-emerald-100: #aae3cb;
    --color-emerald-200: #91d4b7;
    --color-emerald-300: #66c29b;
    --color-emerald-400: #32b87f;
    --color-emerald-500: #00ac63;
    --color-emerald-600: #009958;
    --color-emerald-700: #00854b;
    --color-emerald-800: #006b3d;
    --color-emerald-900: #004a2b;

    --color-forest-50: #e1f0eb;
    --color-forest-100: #c4e3d7;
    --color-forest-200: #a6d4c3;
    --color-forest-300: #8ec1af;
    --color-forest-400: #75af9b;
    --color-forest-500: #50927b;
    --color-forest-600: #2e725b;
    --color-forest-700: #165a42;
    --color-forest-800: #05442e;
    --color-forest-900: #002e1d;

    --color-light-blue-50: #e5f5fb;
    --color-light-blue-100: #afe1f8;
    --color-light-blue-200: #78cdf2;
    --color-light-blue-300: #4fbded;
    --color-light-blue-400: #26ade8;
    --color-light-blue-500: #0098db;
    --color-light-blue-600: #0089c5;
    --color-light-blue-700: #0075a8;
    --color-light-blue-800: #00608a;
    --color-light-blue-900: #004666;

    --color-dark-blue-50: #dbeaf5;
    --color-dark-blue-100: #c1d6e6;
    --color-dark-blue-200: #9bbbd4;
    --color-dark-blue-300: #7ca6c5;
    --color-dark-blue-400: #5489b2;
    --color-dark-blue-500: #3e75a2;
    --color-dark-blue-600: #1b5a8b;
    --color-dark-blue-700: #0d4673;
    --color-dark-blue-800: #003966;
    --color-dark-blue-900: #002d52;

    --color-purple-50: #e3dbf0;
    --color-purple-100: #c8b9df;
    --color-purple-200: #baa8d7;
    --color-purple-300: #9d86c6;
    --color-purple-400: #7f61b3;
    --color-purple-500: #6e4baa;
    --color-purple-600: #5e3e94;
    --color-purple-700: #513286;
    --color-purple-800: #482b78;
    --color-purple-900: #3a2263;

    /* current color tokens */
    --color-base-black: #000000;
    --color-base-white: #ffffff;
    --color-cobalt-blue-50: #F0F7FF;
    --color-cobalt-blue-100: #E6F2FF;
    --color-cobalt-blue-200: #CCE5FF;
    --color-cobalt-blue-300: #ADD5FF;
    --color-cobalt-blue-400: #7BBAFF;
    --color-cobalt-blue-500: #48A0FF;
    --color-cobalt-blue-600: #1683F8;
    --color-cobalt-blue-700: #0064CF;
    --color-cobalt-blue-800: #0050A6;
    --color-cobalt-blue-900: #003D7D;
    --color-cobalt-blue-950: #002955;
    --color-emerald-green-50: #EBF9F3;
    --color-emerald-green-100: #D8F3E7;
    --color-emerald-green-200: #AAE3CB;
    --color-emerald-green-300: #91D4B7;
    --color-emerald-green-400: #66C29B;
    --color-emerald-green-500: #32B87F;
    --color-emerald-green-600: #00AC63;
    --color-emerald-green-700: #009958;
    --color-emerald-green-800: #00854B;
    --color-emerald-green-900: #006B3D;
    --color-emerald-green-950: #004A2B;
    --color-forest-green-50: #EEF6F4;
    --color-forest-green-100: #E1F0EB;
    --color-forest-green-200: #C4E3D7;
    --color-forest-green-300: #A6D4C3;
    --color-forest-green-400: #8EC1AF;
    --color-forest-green-500: #75AF9B;
    --color-forest-green-600: #50927B;
    --color-forest-green-700: #2E725B;
    --color-forest-green-800: #165A42;
    --color-forest-green-900: #05442E;
    --color-forest-green-950: #003320;
    --color-lime-50: #f7fee7;
    --color-lime-100: #F1FECC;
    --color-lime-200: #E5FD9D;
    --color-lime-300: #DBFA7D;
    --color-lime-400: #C8FA31;
    --color-lime-500: #B6E32B;
    --color-lime-600: #96BE23;
    --color-lime-700: #88AB21;
    --color-lime-800: #668019;
    --color-lime-900: #445511;
    --color-lime-950: #38470D;
    --color-navy-blue-50: #EBF3F9;
    --color-navy-blue-100: #DBEAF5;
    --color-navy-blue-200: #C1D6E6;
    --color-navy-blue-300: #9BBBD4;
    --color-navy-blue-400: #7CA6C5;
    --color-navy-blue-500: #5489B2;
    --color-navy-blue-600: #3E75A2;
    --color-navy-blue-700: #1B5A8B;
    --color-navy-blue-800: #0D4673;
    --color-navy-blue-900: #003966;
    --color-navy-blue-950: #002D52;
    --color-neutral-50: #F9FAFA;
    --color-neutral-100: #F5F6F7;
    --color-neutral-200: #E3E5E8;
    --color-neutral-300: #C8CCD0;
    --color-neutral-400: #A7ADB4;
    --color-neutral-500: #888F96;
    --color-neutral-600: #737A82;
    --color-neutral-700: #585C5F;
    --color-neutral-800: #45474A;
    --color-neutral-900: #27292A;
    --color-neutral-950: #0D0D0D;
    --color-orange-50: #fff7ed;
    --color-orange-100: #FFE1CC;
    --color-orange-200: #FEC49A;
    --color-orange-300: #FDA668;
    --color-orange-400: #FB8937;
    --color-orange-500: #F96A06;
    --color-orange-600: #D8540D;
    --color-orange-700: #B2480B;
    --color-orange-800: #953404;
    --color-orange-900: #7D2D12;
    --color-orange-950: #5C1C0A;
    --color-purple-50: #F1EDF7;
    --color-purple-100: #E3DBF0;
    --color-purple-200: #C8B9DF;
    --color-purple-300: #BAA8D7;
    --color-purple-400: #9D86C6;
    --color-purple-500: #7F61B3;
    --color-purple-600: #6E4BAA;
    --color-purple-700: #5B3C90;
    --color-purple-800: #513286;
    --color-purple-900: #38225E;
    --color-purple-950: #2A1947;
    --color-red-50: #fef2f2;
    --color-red-100: #fee2e2;
    --color-red-200: #FECACA;
    --color-red-300: #fca5a5;
    --color-red-400: #F87171;
    --color-red-500: #F04C4C;
    --color-red-600: #D63129;
    --color-red-700: #B11B1B;
    --color-red-800: #8F1919;
    --color-red-900: #700000;
    --color-red-950: #5B0B0B;
    --color-sky-blue-50: #ECF8FE;
    --color-sky-blue-100: #CFEDFC;
    --color-sky-blue-200: #9DDCFB;
    --color-sky-blue-300: #6FC9F6;
    --color-sky-blue-400: #3FB7F3;
    --color-sky-blue-500: #0FA5F0;
    --color-sky-blue-600: #0685C6;
    --color-sky-blue-700: #056394;
    --color-sky-blue-800: #04547C;
    --color-sky-blue-900: #034363;
    --color-sky-blue-950: #02324A;
    --color-spring-green-50: #ECFBEA;
    --color-spring-green-100: #DCF7D9;
    --color-spring-green-200: #B7EFB3;
    --color-spring-green-300: #9FE798;
    --color-spring-green-400: #76D86E;
    --color-spring-green-500: #65CC5C;
    --color-spring-green-600: #48B23F;
    --color-spring-green-700: #3A9932;
    --color-spring-green-800: #34802D;
    --color-spring-green-900: #2B6626;
    --color-spring-green-950: #244721;
    --color-yellow-50: #fefce8;
    --color-yellow-100: #FFF9D1;
    --color-yellow-200: #FFF2A3;
    --color-yellow-300: #FFEC74;
    --color-yellow-400: #FAE24B;
    --color-yellow-500: #facc15;
    --color-yellow-600: #EAB308;
    --color-yellow-700: #ca8a04;
    --color-yellow-800: #a16207;
    --color-yellow-900: #713f12;
    --color-yellow-950: #5C3508;
    --color-button-neutral-filled-background: #0D0D0D;
    --color-button-neutral-filled-hover-background: #45474A;
    --color-button-neutral-filled-hover-text: #ffffff;
    --color-button-neutral-filled-text: #ffffff;
    --color-button-neutral-ghost-background: rgb(0, 0, 0, 0);
    --color-button-neutral-ghost-hover-background: #F5F6F7;
    --color-button-neutral-ghost-hover-text: #0D0D0D;
    --color-button-neutral-ghost-text: #0D0D0D;
    --color-button-neutral-outlined-background: rgb(0, 0, 0, 0);
    --color-button-neutral-outlined-border: #0D0D0D;
    --color-button-neutral-outlined-hover-background: #F5F6F7;
    --color-button-neutral-outlined-hover-border: #0D0D0D;
    --color-button-neutral-outlined-hover-text: #0D0D0D;
    --color-button-neutral-outlined-text: #0D0D0D;
    --color-button-neutral-utility-border: #E3E5E8;
    --color-button-neutral-utility-hover-border: #0D0D0D;
    --color-button-neutral-utility-hover-text: #0D0D0D;
    --color-button-neutral-utility-text: #45474A;
    --color-button-brand-filled-background: #00854B;
    --color-button-brand-filled-hover-background: #05442E;
    --color-button-brand-filled-hover-text: #ffffff;
    --color-button-brand-filled-text: #ffffff;
    --color-button-brand-ghost-background: rgb(0 0 0 0);
    --color-button-brand-ghost-hover-background: rgb(0 133 75 / 8%);
    --color-button-brand-ghost-hover-text: #00854B;
    --color-button-brand-ghost-text: #00854B;
    --color-button-brand-outlined-background: rgb(0 0 0 0);
    --color-button-brand-outlined-border: #00854B;
    --color-button-brand-outlined-hover-background: rgb(0 133 75 / 8%);
    --color-button-brand-outlined-hover-text: #006B3D;
    --color-button-brand-outlined-text: #00854B;
    --color-button-brand-accent-filled-background: #C8FA31;
    --color-button-brand-accent-filled-hover-background: #E5FD9D;
    --color-button-brand-accent-filled-hover-text: #05442E;
    --color-button-brand-accent-filled-text: #05442E;
    --color-button-brand-accent-ghost-background: rgb(0 0 0 0);
    --color-button-brand-accent-ghost-hover-background: rgb(200 250 49 / 16%);
    --color-button-brand-accent-ghost-hover-text: #C8FA31;
    --color-button-brand-accent-ghost-text: #C8FA31;
    --color-button-brand-accent-outlined-background: rgb(0 0 0 0);
    --color-button-brand-accent-outlined-border: #C8FA31;
    --color-button-brand-accent-outlined-hover-background: rgb(200 250 49 / 16%);
    --color-button-brand-accent-outlined-hover-text: #C8FA31;
    --color-button-brand-accent-outlined-text: #C8FA31;
    --color-utility-border-default: #E3E5E8;
    --color-utility-border-hover: #0D0D0D;
    --color-utility-foreground-default: #45474A;
    --color-utility-foreground-hover: #0D0D0D;
    --color-utility-toggle-active-border-default: #E3E5E8;
    --color-utility-toggle-active-border-hover: #0D0D0D;
    --color-utility-toggle-active-text-default: #45474A;
    --color-utility-toggle-active-text-hover: #0D0D0D;
    --color-utility-toggle-inactive-border-default: #E3E5E8;
    --color-utility-toggle-inactive-border-hover: #0D0D0D;
    --color-utility-toggle-inactive-icon-default: #45474A;
    --color-utility-toggle-inactive-icon-hover: #0D0D0D;
    --color-utility-toggle-inactive-text-default: #45474A;
    --color-utility-toggle-inactive-text-hover: #0D0D0D;
    --color-utility-toggle-active-icon-default: #00854B;
    --color-utility-toggle-active-icon-hover: #00854B;
    --color-background-brand: #00854B;
    --color-background-brand-dark: #05442E;
    --color-background-brand-subtle: #EBF9F3;
    --color-background-dark-default: #0D0D0D;
    --color-background-dark-gray-01: #27292A;
    --color-background-dark-gray-02: #45474A;
    --color-background-light-default: #ffffff;
    --color-background-light-gray-01: #F5F6F7;
    --color-background-light-gray-02: #E3E5E8;
    --color-background-state-attention: #D63129;
    --color-border-brand-01: #00854B;
    --color-border-brand-02: #65CC5C;
    --color-border-on-dark-strong-01: #A7ADB4;
    --color-border-on-dark-strong-02: #ffffff;
    --color-border-on-dark-subtle-01: #45474A;
    --color-border-on-dark-subtle-02: #585C5F;
    --color-border-on-light-strong-01: #45474A;
    --color-border-on-light-strong-02: #0D0D0D;
    --color-border-on-light-subtle-01: #E3E5E8;
    --color-border-on-light-subtle-02: #A7ADB4;
    --color-border-state-attention-on-dark: #F87171;
    --color-border-state-attention-on-light: #D63129;
    --color-border-state-disabled-on-dark: #45474A;
    --color-border-state-disabled-on-light: #C8CCD0;
    --color-border-state-focus: #0D0D0D;
    --color-border-state-success-on-dark: #66C29B;
    --color-border-state-success-on-light: #00854B;
    --color-brand-01: #00AC63;
    --color-brand-02: #65CC5C;
    --color-brand-03: #05442E;
    --color-brand-04: #C8FA31;
    --color-checkbox-background-selected-brand: #00854B;
    --color-checkbox-background-selected-neutral: #0D0D0D;
    --color-checkbox-background-unchecked: #ffffff;
    --color-checkbox-border-selected-brand: #00854B;
    --color-checkbox-border-selected-neutral: #0D0D0D;
    --color-checkbox-border-unchecked: #A7ADB4;
    --color-checkbox-icon-selected-brand: #ffffff;
    --color-checkbox-icon-selected-neutral: #ffffff;
    --color-checkbox-icon-unchecked: rgb(0 0 0 / 0%);
    --color-icon-brand-01: #00854B;
    --color-icon-brand-02: #05442E;
    --color-icon-brand-03: #C8FA31;
    --color-icon-on-dark-primary: #ffffff;
    --color-icon-on-dark-secondary: #E3E5E8;
    --color-icon-on-dark-tertiary: #C8CCD0;
    --color-icon-on-light-primary: #0D0D0D;
    --color-icon-on-light-secondary: #45474A;
    --color-icon-on-light-tertiary: #737A82;
    --color-icon-state-attention-on-dark: #F87171;
    --color-icon-state-attention-on-light: #D63129;
    --color-icon-state-disabled-on-dark: #737A82;
    --color-icon-state-disabled-on-light: #A7ADB4;
    --color-link-text-default: #000000;
    --color-link-text-hover: #00854B;
    --color-link-text-visited: #165A42;
    --color-link-underline-default: #00854B;
    --color-link-underline-hover: #00854B;
    --color-link-underline-visited: #165A42;
    --color-overlay-black: rgb(0 0 0 / 60%);
    --color-overlay-black-subtle: rgb(0 0 0 / 30%);
    --color-overlay-white: rgb(255 255 255 / 60%);
    --color-overlay-white-subtle: rgb(255 255 255 / 35%);
    --color-radio-border-selected-brand: #00854B;
    --color-radio-border-selected-neutral: #0D0D0D;
    --color-radio-border-unchecked: #A7ADB4;
    --color-radio-dot-selected-brand: #00854B;
    --color-radio-dot-selected-neutral: #0D0D0D;
    --color-radio-dot-unchecked: rgb(255 255 255 / 0%);
    --color-select-background: #ffffff;
    --color-select-hover: #F5F6F7;
    --color-select-scrollbar: #E3E5E8;
    --color-semantic-error-background: #fef2f2;
    --color-semantic-error-foreground: #B11B1B;
    --color-semantic-info-background: #ECF8FE;
    --color-semantic-info-foreground: #056394;
    --color-semantic-success-background: #ECFBEA;
    --color-semantic-success-foreground: #2B6626;
    --color-semantic-warning-background: #fff7ed;
    --color-semantic-warning-foreground: #B2480B;
    --color-text-brand-01: #00854B;
    --color-text-brand-02: #05442E;
    --color-text-brand-03: #C8FA31;
    --color-text-on-dark-primary: #ffffff;
    --color-text-on-dark-secondary: #E3E5E8;
    --color-text-on-dark-tertiary: #C8CCD0;
    --color-text-on-light-primary: #0D0D0D;
    --color-text-on-light-secondary: #45474A;
    --color-text-on-light-tertiary: #585C5F;
    --color-text-state-attention-on-dark: #F87171;
    --color-text-state-attention-on-light: #D63129;
    --color-text-state-disabled-on-dark: #737A82;
    --color-text-state-disabled-on-light: #A7ADB4;
    --color-text-state-success-on-dark: #66C29B;
    --color-text-state-success-on-light: #00854B;

    --animate-adhesiveFadeInSlideUp: adhesiveFadeInSlideUp 1s ease-in-out;
    --animate-adhesiveFadeOutSlideDown: adhesiveFadeOutSlideDown 1s ease-in-out;

    --shadow-custom: 0px 0px 34px 0px rgba(0, 0, 0, 0.12);
    --shadow-global: 0px 8px 24px 0px rgba(0, 0, 0, 0.08);

    --text-11: 0.6875rem;
    --text-12: 0.75rem;
    --text-14: 0.875rem;
    --text-15: 0.9375rem;
    --text-16: 1rem;
    --text-17: 1.0625rem;
    --text-18: 1.125rem;
    --text-19: 1.1875rem;
    --text-20: 1.25rem;
    --text-22: 1.375rem;
    --text-23: 1.438rem;
    --text-24: 1.5rem;
    --text-26: 1.625rem;
    --text-28: 1.75rem;
    --text-30: 1.875rem;
    --text-32: 2rem;
    --text-34: 2.125rem;
    --text-36: 2.25rem;
    --text-38: 2.375rem;
    --text-40: 2.5rem;
    --text-42: 2.625rem;
    --text-44: 2.75rem;
    --text-45: 2.8125rem;
    --text-46: 2.875rem;
    --text-48: 3rem;
    --text-52: 3.25rem;
    --text-55: 3.375rem;
    --text-56: 3.5rem;
    --text-60: 3.75rem;
    --text-64: 4rem;
    --text-65: 4.0625rem;
    --text-66: 4.125rem;
    --text-72: 4.5rem;
    --text-78: 4.875rem;
    --text-82: 5.125rem;
    --text-85: 5.3125rem;
    --text-110: 6.875rem;
    --text-120: 7.5rem;
    --text-xs: 0.75rem;
    --text-xs--line-height: 1rem;
    --text-sm: 0.875rem;
    --text-sm--line-height: 1.25rem;
    --text-base: 1rem;
    --text-base--line-height: 1.5rem;
    --text-lg: 1.125rem;
    --text-lg--line-height: 1.75rem;
    --text-xl: 1.25rem;
    --text-xl--line-height: 1.75rem;
    --text-2xl: 1.5rem;
    --text-2xl--line-height: 2rem;
    --text-3xl: 1.875rem;
    --text-3xl--line-height: 2.25rem;
    --text-4xl: 2.25rem;
    --text-4xl--line-height: 2.5rem;
    --text-5xl: 3rem;
    --text-5xl--line-height: 1;
    --text-6xl: 3.75rem;
    --text-6xl--line-height: 1;
    --text-7xl: 4.5rem;
    --text-7xl--line-height: 1;
    --text-8xl: 6rem;
    --text-8xl--line-height: 1;
    --text-9xl: 8rem;
    --text-9xl--line-height: 1;

    --font-weight-thin: 100;
    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;
    --font-weight-regular: 400;

    --tracking-tighter: -0.05em;
    --tracking-tight: -0.01em;
    --tracking-normal: 0em;
    --tracking-wide: 0.01em;
    --tracking-wider: 0.03em;
    --tracking-widest: 0.1em;

    --leading-3: 0.75rem;
    --leading-4: 1rem;
    --leading-5: 1.25rem;
    --leading-6: 1.5rem;
    --leading-7: 1.75rem;
    --leading-8: 2rem;
    --leading-9: 2.25rem;
    --leading-10: 2.5rem;
    --leading-none: 1;
    --leading-tight: 1.25;
    --leading-snug: 1.375;
    --leading-normal: 1.5;
    --leading-relaxed: 1.625;
    --leading-loose: 2;
    --leading-heading-extra-tight: 1.1;
    --leading-heading-tight: 1.15;
    --leading-rich-text: 1.0938rem;
    --leading-article-body-tight: 1.4;
    --leading-article-body-normal: 1.35;
    --leading-description: 1.25;
    --leading-heading: 1.2;
    --leading-input: 0.9;
    --leading-link: 1.3;
    --leading-title: 1.05;

    --radius-12: 1.2rem;
    --radius-24: 2.4rem;
    --radius-25: 2.5rem;
    --radius-none: 0rem;
    --radius-sm: 0.125rem;
    --radius: 0.25rem;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
    --radius-2xl: 1rem;
    --radius-3xl: 1.5rem;
    --radius-full: 9999rem;

    --border-width-0: 0;
    --border-width-2: 2px;
    --border-width-3: 3px;
    --border-width-4: 4px;
    --border-width-6: 6px;
    --border-width-8: 8px;
    --default-border-width: 1px;

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
    @keyframes ping {
        75%,
        100% {
            transform: scale(2);
            opacity: 0;
        }
    }
    @keyframes pulse {
        50% {
            opacity: 0.5;
        }
    }
    @keyframes bounce {
        0%,
        100% {
            transform: translateY(-25%);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }
        50% {
            transform: none;
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
    }
    @keyframes adhesiveFadeInSlideUp {
        0% {
            opacity: 0;
            transform: translate(-50%, 100%);
        }
        100% {
            opacity: 1;
            transform: translate(-50%, 0);
        }
    }
    @keyframes adhesiveFadeOutSlideDown {
        0% {
            opacity: 1;
            transform: translate(-50%, 0);
            bottom: 0;
        }
        100% {
            opacity: 0;
            transform: translate(-50%, 100%);
            bottom: -100%;
        }
    }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

@layer utilities {
    .crisp-edges {
        image-rendering: -moz-crisp-edges;
        /* Firefox */
        image-rendering: -o-crisp-edges;
        /* Opera */
        image-rendering: -webkit-optimize-contrast;
        /* Webkit (non-standard naming) */
        image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor;
        /* IE (non-standard property) */
    }
}
@layer base {
    html {
        font-family: system-ui, sans-serif;
        scroll-behavior: smooth;
        overflow-x: clip;
    }
}

.hide-scrollbar {
    scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

#speechify-api-paragraph-hover-button-container {
    z-index: 1000 !important;
}
