#global-header {
  display: block;
  /* rt-Box */
  z-index: 5000;
  /* z-[5000] */
  position: sticky;
  /* sticky */
  top: 0;
  /* top-0 */
  background-color: white;
  /* bg-surface-primary (custom color) */
  transition: box-shadow 200ms;
  /* transition-box-shadow duration-200 */
  border-bottom: 1px solid #e3e5e8;
  /* border-b border-b-border-subtle-01 border-b-solid */
  padding: 1rem 0;
}

#global-header img {
  display: block;
  margin: auto;
}

#global-header img.mobile-logo {
  display: none;
}

/* xs */
@media only screen and (max-width: 767px) {
  #global-header {
    padding: .5rem 0;
  }

  #global-header img {
    height: 41px;
  }

  #global-header img.mobile-logo {
    display: block;
  }

  #global-header img.desktop-logo {
    display: none;
  }
}

/* md */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #global-header img {
    width: 21.5rem;
  }

  #global-header {
    padding: .8rem 0;
  }
}

/* lg */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  #global-header img {
    width: 25.25rem;
  }

  #global-header {
    padding: .65rem 0;
  }
}

/* xl */
@media only screen and (min-width: 1440px) {
  #global-header img {
    width: 25.25rem;
  }

  #global-header {
    padding: .65rem 0;
  }
}