@import "./utility.css";
@import "./editorial.css";
@import "./customFonts.css";

/* Roboto fonts */
/* These don't appear to live on fonts.startribune.com */
@font-face {
  font-family: "roboto";
  src: url("/fonts/RobotoMedium/RobotoMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Popular fonts */
/* These don't appear to live on fonts.startribune.com */
@font-face {
  font-family: "popular-bold";
  src: url("/fonts/PopularBold/Popular-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "popular-light";
  src: url("/fonts/PopularLight/Popular-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "popular-medium";
  src: url("/fonts/PopularMedium/Popular-Medium.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "popular-regular";
  src: url("/fonts/PopularRegular/Popular-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Publico Text fonts */

@font-face {
  font-family: "publico-text-roman";
  src: url("https://fonts.startribune.com/PublicoTextWebFonts/PublicoText-Roman-Web.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "publico-text-bold";
  src: url("https://fonts.startribune.com/PublicoTextWebFonts/PublicoText-Bold-Web.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "publico-text-italic";
  src: url("https://fonts.startribune.com/PublicoTextWebFonts/PublicoText-Italic-Web.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "publico-text-bold-italic";
  src: url("https://fonts.startribune.com/PublicoTextWebFonts/PublicoText-BoldItalic-Web.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

/* Publico Headline fonts */
@font-face {
  font-family: "publico-headline-condensed-medium";
  src: url("https://fonts.startribune.com/PublicoHeadlineCondensedWebFonts/PublicoHeadlineCondensed-Medium-Web.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "publico-banner-condensed-medium";
  src: url("https://fonts.startribune.com/PublicoBannerCondensedWebFonts2/PublicoBannerCondensed-Medium-Web.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "publico-banner-light-italic";
  src: url("https://fonts.startribune.com/PublicoBannerWebFonts/PublicoBanner-LightItalic-Web.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "publico-headline-italic";
  src: url("https://fonts.startribune.com/PublicoHeadlineWebFonts/PublicoHeadline-Italic-Web.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "publico-headline-light-italic";
  src: url("https://fonts.startribune.com/PublicoHeadlineWebFonts/PublicoHeadline-LightItalic-Web.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "publico-headline-medium";
  src: url("https://fonts.startribune.com/PublicoHeadlineWebFonts/PublicoHeadline-Medium-Web.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "publico-headline-roman";
  src: url("https://fonts.startribune.com/PublicoHeadlineWebFonts/PublicoHeadline-Roman-Web.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

/* Graphik fonts */

@font-face {
  font-family: "graphik-regular";
  src: url("https://fonts.startribune.com/GraphikWebFonts/Graphik-Regular-Web.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "graphik-bold";
  src: url("https://fonts.startribune.com/GraphikWebFonts/Graphik-Bold-Web.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "graphik-medium";
  src: url("https://fonts.startribune.com/GraphikWebFonts/Graphik-Medium-Web.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "graphik-semibold";
  src: url("https://fonts.startribune.com/GraphikWebFonts/Graphik-Semibold-Web.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "graphik-italic";
  src: url("https://fonts.startribune.com/GraphikWebFonts/Graphik-RegularItalic-Web.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "graphik-bold-italic";
  src: url("https://fonts.startribune.com/GraphikWebFonts/Graphik-BoldItalic-Web.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "graphik-condensed-medium";
  src: url("https://fonts.startribune.com/GraphikCondensedWebFonts/GraphikCondensed-Medium-Web.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

/* fonts not in the startribune.com repo */

@font-face {
  font-family: "publico-banner";
  src: url("https://fonts.startribune.com/PublicoBannerWebFonts/PublicoBanner-Roman-Web.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "publico-banner-xcondensed";
  src: url("https://fonts.startribune.com/PublicoBannerXCondensedWebFonts/PublicoBannerXCondensed-Roman-Web.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "publico-headline";
  src: url("https://fonts.startribune.com/PublicoHeadlineWebFonts/PublicoHeadline-Roman-Web.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}
