@import "./utility.css";
@import "./editorial.css";
@import "./customFonts.css";

/* Roboto fonts */
@font-face {
  font-family: "roboto";
  src: url("/fonts/RobotoMedium/RobotoMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Popular fonts */

@font-face {
  font-family: "popular-bold";
  src: url("/fonts/PopularBold/Popular-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "popular-light";
  src: url("/fonts/PopularLight/Popular-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "popular-medium";
  src: url("/fonts/PopularMedium/Popular-Medium.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "popular-regular";
  src: url("/fonts/PopularRegular/Popular-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Publico Text fonts */

@font-face {
  font-family: "publico-text-roman";
  src: url("/fonts/PublicoTextRoman/PublicoText-Roman-Web.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "publico-text-bold";
  src: url("/fonts/PublicoTextBold/PublicoText-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "publico-text-italic";
  src: url("/fonts/PublicoTextItalic/PublicoText-Italic.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "publico-text-bold-italic";
  src: url("/fonts/PublicoTextBoldItalic/PublicoText-BoldItalic.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

/* Publico Headline fonts */
@font-face {
  font-family: "publico-headline-condensed-medium";
  src: url("/fonts/PublicoHeadlineCondensedMedium/PublicoHeadlineCondensed-Medium.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "publico-banner-condensed-medium";
  src: url("/fonts/PublicoBannerCondensedMedium/PublicoBannerCondensed-Medium.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "publico-banner-light-italic";
  src: url("/fonts/PublicoBannerLightItalic/PublicoBanner-LightItalic.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "publico-headline-italic";
  src: url("/fonts/PublicoHeadlineItalic/PublicoHeadline-Italic.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "publico-headline-light-italic";
  src: url("/fonts/PublicoHeadlineLightItalic/PublicoHeadline-LightItalic.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "publico-headline-medium";
  src: url("/fonts/PublicoHeadlineMedium/PublicoHeadline-Medium.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "publico-headline-roman";
  src: url("/fonts/PublicoHeadlineRoman/PublicoHeadline-Roman.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

/* Graphik fonts */

@font-face {
  font-family: "graphik-regular";
  src: url("/fonts/GraphikRegular/Graphik-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "graphik-bold";
  src: url("/fonts/GraphikBold/Graphik-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "graphik-medium";
  src: url("/fonts/GraphikMedium/Graphik-Medium.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "graphik-semibold";
  src: url("/fonts/GraphikSemibold/Graphik-Semibold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "graphik-italic";
  src: url("/fonts/GraphikRegularItalic/GraphikRegularItalic-Italic.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "graphik-bold-italic";
  src: url("/fonts/GraphikBoldItalic/Graphik-BoldItalic.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "graphik-condensed-medium";
  src: url("/fonts/GraphikCondensedMedium/GraphikCondensed-Medium.woff2")
    format("woff2");
  font-style: normal;
  font-display: swap;
}

/* fonts not in the startribune.com repo */

@font-face {
  font-family: "publico-banner";
  src: url("/fonts/PublicoBannerWebFonts/PublicoBanner-Roman-Web.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "publico-banner-xcondensed";
  src: url("/fonts/PublicoBannerXCondensedWebFonts/PublicoBannerXCondensed-Roman-Web.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "publico-headline";
  src: url("/fonts/PublicoHeadlineWebFonts/PublicoHeadline-Medium-Web.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
