html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	/*padding: 8px;*/
	box-sizing: border-box;
	font-family: "Benton Sans", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

.article-byline a {
	color: rgb(68, 68, 68)
}

.byline__author a {
	color: #005776;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

// No JS module
#no-js {
	max-width: 600px;
	margin: 2rem auto;
	padding: 1.2rem;
	border: 1px solid #999;
	border-radius: .5rem;
	background-color: #f5f5f5;

	h3 {
		font-family:'Benton Sans',Helvetica,sans-serif;
		font-style: normal;
		font-weight:bold;
		font-size: 1.4rem;
	}

	p {
		font-family:'Benton Sans',Helvetica,sans-serif;
		font-style: normal;
		font-weight:normal;

		&:last-child {
			margin-bottom: 0 !important;
		}
	}
}