@font-face {
    font-family: "Benton Sans";
    src: url("/strib-webfonts/Benton-Sans-Regular/c80c8df9-343a-4ee8-a64b-6213022724fd-3.woff") format("woff");
    font-style: normal;
    font-weight: normal;
    font-display: swap
}

@font-face {
    font-family: "Benton Sans";
    src: url("/strib-webfonts/Benton-Sans-Regular-Italic/2c74d4f4-5f5a-4841-9646-6cb371baa21a-3.woff") format("woff");
    font-style: italic;
    font-weight: normal;
    font-display: swap
}

@font-face {
    font-family: "Benton Sans";
    src: url("/strib-webfonts/Benton-Sans-Bold/34ba72ff-8e42-428e-b0a6-d43e43d09b7f-3.woff") format("woff");
    font-style: normal;
    font-weight: bold;
    font-display: swap
}

@font-face {
    font-family: "Benton Sans Condensed Medium";
    src: url("/strib-webfonts/Benton-Sans-Condensed-Medium/06f4dbf6-2449-4b99-9621-e8abb9e595a2-3.woff") format("woff");
    font-style: normal;
    font-weight: normal;
    font-display: swap
}

@font-face {
    font-family: "Popular Light";
    src: url("/strib-webfonts/Popular-Light/64136bfc-6015-473a-b534-6f235774c8ab-3.woff") format("woff");
    font-style: normal;
    font-weight: normal;
    font-display: swap
}

@font-face {
    font-family: "Popular";
    src: url("/strib-webfonts/Popular-Regular/a6cd39cd-f989-4756-ba40-dfd8fdcee7ca-3.woff") format("woff");
    font-style: normal;
    font-weight: normal;
    font-display: swap
}

@font-face {
    font-family: "Popular Medium";
    src:  url("/strib-webfonts/Popular-Medium/ce490641-b5d9-4eff-a05c-38dbe1948f17-3.woff") format("woff");
    font-style: normal;
    font-weight: normal;
    font-display: swap
}

@font-face {
    font-family: "Popular";
    src: url("/strib-webfonts/Popular-Bold/cec9083e-fac8-488a-8891-4f7eacf77220-3.woff") format("woff");
    font-style: normal;
    font-weight: bold;
    font-display: swap
}

@font-face {
    font-family: "Poynter Serif RE";
    src: url("/strib-webfonts/Poynter-Serif-RE/6da0e483-5b55-412e-9685-611b9bb101fd-3.woff") format("woff");
    font-style: normal;
    font-weight: normal;
    font-display: swap
}

@font-face {
    font-family: "Poynter Serif RE";
    src: url("/strib-webfonts/Poynter-Serif-RE-Italic/fcc7dbe8-7d79-4278-a765-8e1eb8535c3f-3.woff") format("woff");
    font-style: italic;
    font-weight: normal;
    font-display: swap
}

@font-face {
    font-family: "Poynter Serif RE";
    src: url("/strib-webfonts/Poynter-Serif-RE-Bold/a9cccbf1-281e-4903-b5f3-4b5dcd9d9cfa-3.woff") format("woff");
    font-style: normal;
    font-weight: bold;
    font-display: swap
}

@font-face {
    font-family: "Poynter Serif RE";
    src: url("/strib-webfonts/Poynter-Serif-RE-Bold-Italic/8cf6fa2c-d12a-46b5-b282-c93fbad37343-3.woff") format("woff");
    font-style: italic;
    font-weight: bold;
    font-display: swap
}

@font-face {
    font-family: "Whitman Display Compressed Bold";
    src: url("/strib-webfonts/Whitman-Display-Comp-Bold/c1ec7b66-657a-4549-9c44-00ae270517c5-3.woff") format("woff");
    font-style: normal;
    font-weight: bold;
    font-display: swap
}

@font-face {
    font-family: "Whitman Display Condensed Bold";
    src: url("/strib-webfonts/Whitman-Display-Cond-Bold/8406d32c-8dc4-4285-a5ee-200b97edd2ab-3.woff") format("woff");
    font-style: normal;
    font-weight: bold;
    font-display: swap
}

@font-face {
    font-family: "Whitman Display";
    src: url("/strib-webfonts/Whitman-Display-Regular/afc69d83-243c-4a7f-8d26-1795692dfade-3.woff") format("woff");
    font-style: normal;
    font-weight: normal;
    font-display: swap
}

@font-face {
    font-family: "Whitman Display";
    src: url("/strib-webfonts/Whitman-Display-Regular-Italic/e9683d36-3a41-45c2-8aeb-f461fa1825f1-3.woff") format("woff");
    font-style: italic;
    font-weight: normal;
    font-display: swap
}

@font-face {
    font-family: "Whitman Display";
    src: url("/strib-webfonts/Whitman-Display-Bold/d34b615f-025d-471c-a1a0-a5a039248094-3.woff") format("woff");
    font-style: normal;
    font-weight: bold;
    font-display: swap
}

@font-face {
    font-family: "Whitman OSF";
    src: url("/strib-webfonts/Whitman-Roman-OSF/c35df3ea-93e1-47b6-9629-bc761414cf65-3.woff") format("woff");
    font-style: normal;
    font-weight: normal;
    font-display: swap
}

@font-face {
    font-family: "Whitman OSF";
    src: url("/strib-webfonts/Whitman-Bold-OSF/90508854-65ad-4bc0-b4f5-13734269e40e-3.woff") format("woff");
    font-style: normal;
    font-weight: bold;
    font-display: swap
}

@font-face {
    font-family: "Whitman OSF";
    src: url("/strib-webfonts/Whitman-Italic-OSF/4227a9bf-e403-4086-8d26-9a6d738858e0-3.woff") format("woff");
    font-style: italic;
    font-weight: normal;
    font-display: swap
}