// strib fonts

//Benton Sans Regular
@font-face {
    font-family: "Benton Sans";
    src: url("/strib-webfonts/benton-sans-regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

//Benton Sans Regular Italic
@font-face {
    font-family: "Benton Sans";
    src: url("/strib-webfonts/benton-sans-italic.woff") format("woff");    
    font-style: italic;
    font-weight: normal;
}

//Benton Sans Bold
@font-face {
    font-family: "Benton Sans";
    src: url("/strib-webfonts/benton-sans-bold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}

//Benton Sans Condensed Medium
@font-face {
    font-family: "Benton Sans Condensed Medium";
    src: url("/strib-webfonts/benton-sans-condensed.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

//Popular Light
@font-face {
    font-family: "Popular Light";
    src: url("/strib-webfonts/popular-light.woff") format("woff");    
    font-style: normal;
    font-weight: normal;
}

//Popular
@font-face {
    font-family: "Popular";
    src: url("/strib-webfonts/popular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

//Popular Thin
@font-face {
    font-family: "Popular Thin";
    src: url("/strib-webfonts/popular-thin.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

//Poynter Serif RE
@font-face {
    font-family: "Poynter Serif RE";
    src: url("/strib-webfonts/poynter-serif-re.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
//Poynter Serif RE Italic
@font-face {
    font-family: "Poynter Serif RE";
    src: url("/strib-webfonts/poynter-serif-re-italic.woff") format("woff");
    font-style: italic;
    font-weight: normal;
}

//Poynter Serif RE Bold
@font-face {
    font-family: "Poynter Serif RE";
    src: url("/strib-webfonts/poynter-serif-re-bold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}
//Poynter Serif RE Bold Italic
@font-face {
    font-family: "Poynter Serif RE";
    src: url("/strib-webfonts/poynter-serif-re-bold-italic.woff") format("woff");
    font-style: italic;
    font-weight: bold;
}
//Whitman Display Compressed Bold
@font-face {
    font-family: "Whitman Display Compressed Bold";
    src: url("/strib-webfonts/whitman-display-compressed-bold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}
//Whitman Display Condensed Bold
@font-face {
    font-family: "Whitman Display Condensed Bold";
    src: url("/strib-webfonts/whitman-display-condensed-bold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}
//Whitman Display Regular
@font-face {
    font-family: "Whitman Display";
    src: url("/strib-webfonts/whitman-display-regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
//Whitman Display Regular Italic
@font-face {
    font-family: "Whitman Display";
    src: url("/strib-webfonts/whitman-display-regular-italic.woff") format("woff");
    font-style: italic;
    font-weight: normal;
}
//Whitman Display Bold
@font-face {
    font-family: "Whitman Display";
    src: url("/strib-webfonts/whitman-display-bold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}
//Whitman OSF
@font-face {
    font-family: "Whitman OSF";
    src: url("/strib-webfonts/whitman-osf.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
// @font-face {
//     font-family: "Whitman OSF";
//     src: url("https://apps.startribune.com/fonts/Whitman-Bold-OSF/90508854-65ad-4bc0-b4f5-13734269e40e-2.eot");
//     src: url("https://apps.startribune.com/fonts/Whitman-Bold-OSF/90508854-65ad-4bc0-b4f5-13734269e40e-2.eot?") format("embedded-opentype"), url("https://apps.startribune.com/fonts/Whitman-Bold-OSF/90508854-65ad-4bc0-b4f5-13734269e40e-3.woff") format("woff"), url("https://apps.startribune.com/fonts/Whitman-Bold-OSF/90508854-65ad-4bc0-b4f5-13734269e40e-1.ttf") format("truetype");
//     font-style: normal;
//     font-weight: bold;
// }

// @font-face {
//     font-family: "Whitman OSF";
//     src: url("https://apps.startribune.com/fonts/Whitman-Italic-OSF/4227a9bf-e403-4086-8d26-9a6d738858e0-2.eot");
//     src: url("https://apps.startribune.com/fonts/Whitman-Italic-OSF/4227a9bf-e403-4086-8d26-9a6d738858e0-2.eot?") format("embedded-opentype"), url("https://apps.startribune.com/fonts/Whitman-Italic-OSF/4227a9bf-e403-4086-8d26-9a6d738858e0-3.woff") format("woff"), url("https://apps.startribune.com/fonts/Whitman-Italic-OSF/4227a9bf-e403-4086-8d26-9a6d738858e0-1.ttf") format("truetype");
//     font-style: italic;
//     font-weight: normal;
// }